<canvas id="myChart"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [".5", "2", "5", "10", "25", "50"],
        datasets: [{
            label: 'Requests/Second',
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
                'rgb(201, 203, 207)'
            ],
            yAxisID: "y-axis-1",
            data: [34852.74, 33656.10, 32535.78, 30111.74, 21690.92, 13474.38],
        }, {
            label: 'Request Latency (ms)',
            yAxisID: "y-axis-2",
            data: [3.16, 4.77, 5.79, 11.21, 19.87, 21.58],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                type: "linear",
                display: true,
                position: "left",
                id: "y-axis-1",
                ticks: {
                    beginAtZero:true
                }
            }, {
                type: "linear",
                display: true,
                position: "right",
                id: "y-axis-2",
                gridLines: {
                    drawOnChartArea: false
                }
            }]
        },
        title: {
            display: true,
            text: 'Total Requests'
        }
    }
});
</script>