<canvas asdf={{ .Get "id"}} id="{{ .Get "id"}}"></canvas>
<script>
    var chartColors = {
        red: 'rgb(255, 99, 132)',
        blue: 'rgb(54, 162, 235)'
    };

    var color = Chart.helpers.color;
    var config{{ .Get "id" | safeJS }} = {
        type: 'bar',
        data: {
            datasets: [{
                type: 'line',
                yAxisID: '{{ (.Get "yaxisid") }}',
                backgroundColor: 'transparent',
                borderColor: chartColors.red,
                pointBackgroundColor: chartColors.red,
                tension: 0,
                fill: false
            }]
        },
        plugins: [ChartDataSource],
        options: {
            title: {
                display: true,
                text: '{{ (.Get "title") }}'
            },
            scales: {
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: '{{ (.Get "xaxislabel") }}'
                    }
                }],
                yAxes: [{
                    id: '{{ (.Get "yaxisid") }}',
                    gridLines: {
                        drawOnChartArea: false
                    },
                    scaleLabel: {
                        display: true,
                        labelString: '{{ (.Get "yaxislabel") }}'
                    }
                }]
            },
            plugins: {
                datasource: {
                    type: 'csv',
                    url: '{{ (.Get "data") }}',
                    delimiter: ',',
                    rowMapping: 'dataset',
                    datasetLabels: true,
                    indexLabels: true
                }
            }
        }
    };

    window.addEventListener('load', function () {
        var ctx{{ .Get "id" | safeJS }} = document.getElementById('{{ .Get "id"}}').getContext('2d');
        window.myChart{{ .Get "id" | safeJS }} = new Chart(ctx{{ .Get "id" | safeJS }}, config{{ .Get "id" | safeJS }});
    });
</script>