<canvas id="{{ .Get "id"}}"></canvas>
<script>
    var chartColors = {
        red: 'rgb(255, 99, 132)',
        blue: 'rgb(54, 162, 235)'
    };

    var color = Chart.helpers.color;
    var config = {
        type: 'bar',
        data: {
            datasets: [{
                type: 'line',
                yAxisID: '{{ (.Get "yaxisid") }}',
                backgroundColor: 'transparent',
                borderColor: chartColors.red,
                pointBackgroundColor: chartColors.red,
                tension: 0,
                fill: false
            }, {
                yAxisID: '{{ (.Get "yaxisid2") }}',
                backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
                borderColor: 'transparent'
            }]
        },
        plugins: [ChartDataSource],
        options: {
            title: {
                display: true,
                text: '{{ (.Get "title") }}'
            },
            scales: {
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: '{{ (.Get "xaxislabel") }}'
                    }
                }],
                yAxes: [{
                    id: '{{ (.Get "yaxisid") }}',
                    gridLines: {
                        drawOnChartArea: false
                    },
                    scaleLabel: {
                        display: true,
                        labelString: '{{ (.Get "yaxislabel") }}'
                    }
                }, {
                    id: '{{ (.Get "yaxisid2") }}',
                    position: 'right',
                    gridLines: {
                        drawOnChartArea: false
                    },
                    scaleLabel: {
                        display: true,
                        labelString: '{{ (.Get "yaxislabel2") }}'
                    }
                }]
            },
            plugins: {
                datasource: {
                    type: 'csv',
                    url: '{{ (.Get "data") }}',
                    delimiter: ',',
                    rowMapping: 'dataset',
                    datasetLabels: true,
                    indexLabels: true
                }
            }
        }
    };

    window.onload = function() {
        var ctx = document.getElementById('{{ .Get "id"}}').getContext('2d');
        window.myChart = new Chart(ctx, config);
    };
</script>